$ina_orange: #FF8000;
$ina_orange_2: #DE700B;
$ina_orange_3: #BD5F16;
$ina_orange_4: #9C4E21;
$ina_gray: #666666;
$ina_text_dark: #333333;

@media (min-width: 992px) {
    #mainNav .navbar-nav .nav-item .nav-link {
        color: #212529;
    }
}

header.masthead {
    margin-top: 92px;
    background-image: url("../assets/img/about/about-header.jpg");
    
    @media (min-width: 992px) {
        margin-top: 0;
    }
}

#company {
    p {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.8em;
        text-align: justify;
    }
}

.card {
    background-color: none;
    border-width: 1px;
    border-radius: 0;
    
    h3 {
        font-weight: 500;
    }
    h4 {
        font-size: 1.3rem;
        color: $ina_orange_4;
        font-weight: 400;
    }
    p {
        text-align: justify;
    }
    @media (min-width: 1399px) {
        p {
            text-align: justify;
        }
    }
    img {
        object-fit: cover;
    }
}


#join {
    height: 100vh;
    background-image: url("../assets/img/about/Joinus.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.bg-join-left{
    position: relative;
    background-color: rgba($ina_orange, 0.2);
    text-align: right;
}

.join-left {
    position: absolute;
    top: 30%;
    right: 15%;
    h1 {
        width: 3em;
        font-size: 80px;
        font-weight: 700;
        text-align: right;
    }
    @media (max-width: 991px) {
        top: auto;
        right: auto;
        left: 5%;
        bottom: 5%;
        h1 {
            text-align: left;
            width: auto;
            font-size: 50px;
        }
    }
    
}


.bg-join-right{
    position: relative;
    vertical-align: bottom;
    background-color: rgba($ina_orange_4, 0.7);
}


.join-right {
    position: absolute;
    bottom: 10%;
    left: 25%;
    color: white;
    h1 {
        font-size: 50px;
        font-size: 700;
    }
    h2 {
        font-size: 30px;
        font-weight: 500;
    }
    a:link, a:active, a:visited, a:hover{
        color: white;
        text-decoration: none;
    }
    @media (max-width: 991px) {
        bottom: 10%;
        left: auto;
        right: 5%;
        h1 {
            text-align: right;
        }
        h2 {
            text-align: right;
        }
    }
}

