header.masthead {
    background: linear-gradient(to bottom, rgba(66, 92, 68, 0.1) 0%, rgba(66, 92, 68, 0.5) 100%), url("../assets/img/contact/Contact_us.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.info {
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: gray 2px 2px 5px 0px ;
    padding: 10px;
    margin-bottom: 15px;
}
.infor-form {
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: lightgray;
    box-shadow: gray 2px 2px 5px 0px ;
    input, textarea {
        box-shadow: darkgray 2px 2px 5px 0px ;
    }
}

.form-group {
    label {
        margin: 5px;
    }
}