header.masthead {
    background: url("../assets/img/esg/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.color-brown{
    color: orange;
    font-size: x-large;
}