$ina_orange: #FF8000;
$ina_orange_2: #DE700B;
$ina_orange_3: #BD5F16;
$ina_orange_4: #9C4E21;
$ina_gray: #666666;
$ina_text_dark: #333333;

.btn {
    font-size: 1.2rem;
}

video {
    position: absolute;
    width: 100%;
    height: 511.6px;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

@media (min-width: 992px) {
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

header.masthead {
    background: transparent;
    h1 {
        font-size: 45px;
        font-weight: 700;
    }

    @media (min-width: 768px) {
        h1{
            font-size: 50px;
            font-weight: 700;
        }
    }

    p {
        font-size: 15px;
    }

    @media (min-width: 768px) {
        p {
            font-size: 25px;
        }
    }
}

header .content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


#goals {
    h2 {
        font-size: 35px;
        font-weight: 700;
    }

    h3.h4{
        font-family: "brandon-grotesque";
        font-weight: 500;
        font-size: 60px;
    }

    @media (min-width: 1200px) {
        h3.h4 {
            font-size: 70px;
        }
    }

    @media (min-width: 768px) {
        h2 {
            font-weight: 700;
            font-size: 40px;
        }
    }

    .info {
        .info-title {
            font-size: large;
            font-weight: 700;
            text-align: left;
        }
        .info-text {
            text-align: center;
        }
        .info-unit {
            margin-left: 10px;
            color: darkgray;
            font-size: 40%;
        }
        .info-footer{
            color: darkgray;
            font-size: 40%;
        }
    }

}

.bg-block2 {
    height: 100vh;
    background-image: url("../assets/img/bg-block2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    h2 {
        font-size: 50px;
        font-weight: 700;
    }
}

.card-img-top {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

.card-title {
    height: 5rem;
    font-weight: 700;
    text-align: justify;
}

.card-text {
    text-align: justify;
}

#news {
    .news-height {
        height: calc(100vh - 50px);
    }

    h2 {
        font-size: 35px;
        font-weight: 700;
    }
    @media (min-width: 768px) {
        h2 {
            font-weight: 700;
            font-size: 40px;
        }
    }
    .news-board {
        margin: 10px;
        padding: 10px 0px 10px 0;
        border: 1px rgb(223, 223, 223) solid;
        box-shadow: 3px 3px 5px 0px #CCCCCC;
    }
    .news-media {
        padding: 0 10px 0 10px;
        color: $ina_orange;
        font-size: 20px;
        font-weight: 700;
        a {
            text-decoration: none;
        }
    }
    
    .news-img {
        width: 100%;
        img {
            width: 100%;
            height: auto;
            max-height: 250px;
            object-fit: cover;
        }
    }
    .news-img-right {
        overflow: hidden;
        border-radius: 10px;
        margin-right: 10px;
        margin-top: 10px;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .news-content {
        padding: 0 10px 0 10px;
    }
    .news-title {
        a {
            font-size: 20px;
            font-weight: bold;
            color: black;
            text-decoration: none;
        }
        @media (min-width: 1200px) {
            a {
                font-size: 22px;
            }
        }
        @media (min-width: 1400px) {
            a {
                font-size: x-large;
            }
        }
    }
    .news-title-right {
        a {
            font-size: 20px;
            font-weight: bold;
            color: black;
            text-decoration: none;
        }
        @media (min-width: 1200px) {
            a {
                font-size: 20px;
            }
        }
        @media (min-width: 1400px) {
            a {
                font-size: x-large;
            }
        }
    }
    .news-time {
        color: darkgray;
    }

    .news-text {
        margin-top: 1rem;
        font-size: 18px;
    }
    .news-l-col {
        width: 100%;
        @media (min-width: 992px) {
            width: 50%;
        }
    }

}

.card {
    border-radius: 0;
    
}


.w-60 {
    width: 60% !important;
}

.w-40 {
    width: 40% !important;
}

.min-vh-90 {
    min-height: 90vh !important;
}